input {
    font-weight: 900;
    background-color: transparent;
    border-color: #0c4a5a;
    box-shadow: none;
    color: #0c4a5a;
    border-radius: 40px;
    border-width: 2px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.test {
    border-color: #0c4a5a;
    border-radius: 40px;
    border-width: 2px;
    border-style: ridge;
    margin-top: 10px;
}


img {
    height: 200px;
    padding-top: 0px;
    width: auto;
    border-radius: 40px;
    border-color: #0c4a5a;
    border-width: 2px;
    border-style:ridge;
    padding-bottom: 0px;
}


@media only screen and (min-width: 600px) {
    img {
        height: 400px;
        padding-top: 0px;
        width: auto;
        border-radius: 40px;
        border-color: #0c4a5a;
        border-width: 2px;
        border-style:ridge;
        padding-bottom: 0px;
    }
}

.text {
    display: flex;
    justify-content: center;
    font-size: small;
    padding-left: 40px;
    padding-right: 40px;
}